{{define "notify"}}
{{template "head"}}
<div class="container mt-2">
<h1 class="display-4">LINE Notify テスト</h1>
<form method="post" action="notify">
	<div class="form-group">
		<label>メッセージ</label>
		<input type="textarea" class="form-control" name="message" value="">
	</div>
	<div class="form-group">
		<label>通知先</label>
		<div class="form-check">
			{{range .}}
			<input type="checkbox" class="form-check-input" name="tokens[]" value="{{.}}">
			<label class="form-check-label">{{.}}</label>
			{{else}}
			通知先がありません。まずは<a href="/line_test/">こちら</a>から通知認証してください。
			{{end}}
		</div>
	</div>
	<button type="submit" class="btn btn-primary">LINEに通知</button>
</form>
</div>
{{template "foot"}}
{{end}}
